.container {
    margin: 10px;
}

h1{
    font-weight: bolder;
}

button{
    background-color: orange;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 40px;
    margin: 15px;
    width: 99px;
}

button:hover{
    background-color:white ;
    color: orange;
    cursor: pointer;
}

.todo{
    display: flex;
    gap: 20px;
}

.done{
    border: 1px solid black;
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    width: auto;
}

.hot{
    background-color: grey;
    color: white;
}

.trasha{
    border: 1px solid black;
    padding: 8px;
}

#title{
    outline: 9px;
}